body {
  background: #415a6c;
  margin: 0;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 850px;
}
.parallax-layer {
  width: 100%;
  height: 500px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 960px 253px;
}
  #layer-0 {
    top: 0;
    z-index: 5;
    background: #dbf0ff url('http://i.imgur.com/4hwp8up.png') no-repeat top 40px center;
    background-size: 120px 138.5px;
  }
  #layer-1 {
    top: -100px;
    z-index: 5;
    background-image: url('http://i.imgur.com/Ra2bzmb.png');
  }
  #layer-2 {
    top: -50px;
    z-index: 10;
    background-image: url('http://i.imgur.com/jSOo9SK.png');
  }
  #layer-3 {
    top: -10px;
    z-index: 15;
    background-image: url('http://i.imgur.com/DOZRBDj.png');
  }
  #layer-4 {
    top: 65px;
    z-index: 20;
    background-image: url('http://i.imgur.com/JbSR9JY.png');
  }
  #layer-5 {
    top: 150px;
    z-index: 25;
    background-image: url('http://i.imgur.com/Ti2mNxd.png');
  }

#content {
  color: #fff;
  position: absolute;
  top: 550px;
  background: #415a6c;
  width: 100%;
  min-height: 2100px;
}

#separator {
  display: block;
  background: #415a6c;
  height: 100px;
  text-align: center;
}
  #separator a > i {
    color: #fff;
  }
  #separator a > i:hover {
    color: #a9a9a9;
  }

.jumbotron {
  color: #53868b;
  background: #ffae42;
  margin-top: 50px;
}
  .jumbotron h3,h1 {
    text-align: center;
  }

@media (max-width: 768px) {
  .mobile-adjust {
    margin-left: 37px;
    margin-bottom: 35px;
  }
}

.resume-margin {
  margin-top: 15px;
  margin-left: 53px;
}

.resume-pad {
  border-width: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

#resume-button {
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}

.md-margin {
  margin: 35px;
}

.sm-margin {
  margin: 25px;
}

.xs-margin {
  margin: 10px;
}

.table-box {
  border-style: solid !important;
  border-color: white !important;
}
  .table-box th, .table-box td {
    border-top: none !important;
  }

.navbar {
  background: #415a6c;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
  .navbar .navbar-brand {
    color: #fff !important;
    font-size: 40px;
    font-family: 'Arizonia', 'Roboto Slab', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  }
  .navbar .navbar-brand:hover {
    color: #000 !important;
  }
  .navbar .navbar-nav li > a {
    color: #fff;
  }

@media (min-width: 768px) {
  .navbar .navbar-nav {
    width: 68%;
    text-align: center;
  }
    .navbar .navbar-nav li {
      float: none;
      font-size: 20px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }
}

.anchor{
  display: block;
  height: 110px; /*same height as header*/
  margin-top: -110px; /*same height as header*/
  visibility: hidden;
}

.sushi {
  padding-left: 25px;
  padding-right: 35px;
}

.pelicans {
  padding-left: 15px;
  padding-right: 20px;
}

.guitar {
  padding-left: 30px;
  padding-right: 30px;
}

.mystery {
  padding-left: 30px;
  padding-right: 30px;
}

.skills {
  margin-left: 25px;
}

#nav {
  width: 100%;
  position: static;
}

#nav.affix {
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: all .6s ease-in-out;
}

#footer {
  position: absolute;
  background: #228b22;
  width: 100%;
  min-height: 575px;
}

#footer li {
  list-style-type: none;
  margin-left: -40px;
}

.fa-phone-square {
  font-size: 1.2em;
}

.contact-pad {
  padding-left: 5px;
}

@media (max-width: 768px) {
  .mobile-margin {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
